# PostgreSQL
POSTGRES_USER=point
POSTGRES_PASSWORD=point
POSTGRES_DB=point_system
POSTGRES_PORT=5432

# ポートの割り当て
BACKEND_PORT=8787
FRONTEND_PORT=5173

# 動的QRコードの署名鍵: openssl rand -hex 32
IDENTITY_CODE_SECRET=
