# GitHub Actions Repository Secrets に以下の名前で登録する
# PROD_POSTGRES_PASSWORD
# PROD_DATABASE_URL
# PROD_IDENTITY_CODE_SECRET
POSTGRES_USER=point
POSTGRES_PASSWORD=
POSTGRES_DB=point_system

# パスワードに記号を含める場合はURLエンコードする
DATABASE_URL=postgresql://point:<url-encoded-password>@db:5432/point_system
IDENTITY_CODE_SECRET=
CORS_ORIGIN=https://point.procla.dev
